
.navigation-container {
    padding: 40px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding-left: 150px;
}